html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

button {
	cursor: pointer;
}

.full-width-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.clear {
	clear: both; 
	height: 0.01%;
	line-height: 0.01%;
	margin: 0;
	padding: 0;
}

.detect-device {
	float: none;
}

.row {display: -webkit-flex;}
.row:before, .row:after {display: none !important;}