.button {
  border: 3px solid $red;
  color: $red;
  padding: 2px 47px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  transition: all .2s linear;
  &:hover {
    color: $white;
    border: 3px solid $white;
    text-decoration: none;
  }
  &--white {
    color: $white;
    border: 3px solid $white;
    &:hover {
      color: $black-alt;
      border: 3px solid $black-alt;
    }
  }
  &--light-grey {
    color: $light-grey;
    border: 3px solid $light-grey;
    &:hover {
      color: $red;
      border: 3px solid $red;
    }
  }
  &--light-grey-alt {
    color: #999999;
    border: 3px solid $light-grey;
    &:hover {
      color: $red;
      border: 3px solid $red;
    }
  }
}